<!DOCTYPE html>
<html>
  <head>
    <title>Refactoring MSM with Associations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <nav>
      <a href="/">
        Home
      </a>
    </nav>

    <%= yield %>

    <a href="/about.html">About</a>
  </body>
</html>
